body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.uploadBtn{
	margin: 0 auto;
	width: 260px;
	height: 200px;
	background: #E2E2E2;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 200px;
	border-radius: 7px;
	color: #666;
}
.realBtn{
	width: 80%;
	height: 40px;
	background: #C12E2A;
	margin: 0 auto;
	border-radius: 7px;
	font-size: 16px;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-top: 60px;
}
.showResult{
	width: 80%;
	padding: 10px;
	border: 2px solid #EEEEEE;
	margin: 0 auto;
	min-height: 130px;
	margin-top: 30px;
}
